{% load static %}



<!DOCTYPE html>
<html>
<title>Time Series Prediction of Agricultural Products Price based on Time Alignment of Recurrent Neural Networks </title>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right"Time Series Prediction of Agricultural Products Price based on Time Alignment of Recurrent Neural Networks</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">

    </div>
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>Mike</strong></span><br>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="login1" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">



    <script type="text/javascript">

  $(document).ready(function() {
  var a = "{{agrix.ditrict}}";
  var b='https://maps.google.com/maps?q=';
  var c='&t=&z=13&ie=UTF8&iwloc=&output=embed';
  var d=b.concat(a, c);
   $('#fb-root').append('<iframe/>');
   $('#fb-root iframe')
        .attr('id','my_iframe')
        .attr('src',d)
        .css('width','100%')
        .css('height','900px')
        .css('background', 'red')
        .attr('frameborder','no')
        .class('gmap_canvas');
 });

   window.alert(d)
</script>

</nav>

<div id="fb-root"></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>

<!-- Overlaou effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> You asked for {{agrix.ditrict}}, </b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class=""></i></div>
        <div class="w3-right">
          <h3>{{agrix.temp_det.temperature}}oC</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Temperature</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{agrix.regre1}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Predicted Prod/area</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{agrix.crop}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Crop</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{agrix.regre3}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Import/Export/Production Predited</h4>
      </div>
    </div>
  </div>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">

      <div class="w3-third">



      </div>
      <div class="w3-twothird">
        <h5>Feeds</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
            <td>Humidity</td>
            <td><i> <span style="padding-left:10px;"><img style="padding-right:5px;margin-top:5px;" src="{% static 'cultivo_main/icon-umberella.png' %}" alt="">{{agrix.temp_det.humidity}}</span></i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
            <td>Wind Speed</td>
            <td><i>      <span style="padding-left:10px;"><img style="padding-right:5px;margin-top:5px;" src="{% static 'cultivo_main/icon-wind.png'%}" alt="">{{agrix.temp_det.windspeed}}</span></i></td>
          </tr>
          <tr>
            <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
            <td>Pressure</td>
            <td><i><span style="padding-left:10px;"><img style="padding-right:5px;margin-top:5px;" src="{% static 'cultivo_main/icon-compass.png'%}" alt="">{{agrix.temp_det.pressure}} <sup>o</sup></span></i></td>
          </tr>

          <tr>
            <td><i class="fa fa-bookmark w3-text-blue w3-large"></i></td>
            <td>Latitude</td>
            <td><i> <span style="padding-left:10px;"><img style="padding-right:5px;margin-top:5px;" src="{% static 'cultivo_main/icon-wind.png'%}" alt="">{{agrix.temp_det.latitude}} <sup>o</sup></span></i></td>
          </tr>
          <tr>
            <td><i class="fa fa-laptop w3-text-red w3-large"></i></td>
            <td>Longitude</td>
            <td><i> <span style="padding-left:10px;"><img style="padding-right:5px;margin-top:5px;" src="{% static 'cultivo_main/icon-compass.png'%}" alt="">{{agrix.temp_det.longitude}} <sup>o</sup></span></i></td>
          </tr>

        </table>
      </div>
    </div>
  </div>
  <hr>

      <div class='con1' style="background-color:green"  align="center">

        <h2 style="margin-top: 0px;padding-top: 35px;"><u>Final Verdict</u></h2><br>

            <span style="font-size: 160px;margin-top: -70px;">{{agrix.finalout_main}}</span>

            <span style="font-size: 40px; margin-left: -5px;">.{{agrix.finalout_dec}}</span>
            <span style="font-size: 160px;margin-top: -70px;">%</span>
            <span style="font-size: 45px;">{{agrix.Succss}}</span>
            <div style="margin-top: 35px;padding-bottom: 20px;">Predicted for <u>{{agrix.crop}}</u> in <u>{{agrix.ditrict}}</u></div>








</div>

  <div class="w3-container">
      <h5>Insights about <b>{{agrix.crop}}:</b></h5>
    <p>Fertilizers Used for perticuler crop</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-green" style="width:25%">{{agrix.Regressed_Fertilizers}} Metric Tons</div>
    </div>

    <p>{{agrix.crop}} By utilizing Fertilizers</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-orange" style="width:50%">Increment in Success Rate is {{agrix.rate}} %</div>
    </div>

    <p>Average Usage</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-red" style="width:75%">35KF/1 Hector</div>
    </div>
  </div>
  <hr>

  <div class="w3-container">
    <h5>Production/sq.Area</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">

      <tr>
        <td>Production</td>
        <td>{{agrix.production}}</td>
      </tr>
      <tr>
        <td>Imports</td>
        <td>{{agrix.import}}</td>
      </tr>
      <tr>
        <td>Exports</td>
        <td>{{agrix.export}}</td>
      </tr>

       <tr>
        <td>Min Price</td>
        <td>{{agrix.min}}</td>
      </tr>

       <tr>
        <td>Max Price</td>
        <td>{{agrix.max}}</td>
      </tr>


       <tr>
        <td>modal_price</td>
        <td>{{agrix.mod}}</td>
      </tr>

    </table><br>

  </div>
    <div class='con1'  align="center">
<h3 style="margin-top: 0px;padding-top: 35px;"><u><a href="Generatereport">Generate Report</a></u></h3><br>
        <h3 style="margin-top: 0px;padding-top: 35px;">Other Suggestions</h3><br>
        <div>
          <table  border="0" style="padding-bottom: 20px;margin-top:-17px;font-size: 25px;" cellspacing="32px">
            {% for key, value in agrix.ff.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}% <span style="font-size: 15px">success</span></td>
            </tr>
            {% endfor %}
          </table>
        </div>

</div>
  <hr>

  <hr>





  </div>
  <br>
  <div class="w3-container w3-dark-grey w3-padding-32">
 </div>
  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">

  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>



</body>
</html>


